# Timezone
TZ=America/New_York
PUID=977
PGID=988

# Network
SUBNET=172.20.0.0/16

# Prowlarr
PROWLARR_PORT=9696

# Sonarr
SONARR_PORT=8989
SONARR_API_KEY=c7d3af7020ad47f8b2a4ba35d3354e77

# Sonarr Anime
SONARR_ANIME_PORT=8990
SONARR_ANIME_API_KEY=5069876ea4f04825b1ee80ff74bca818

# Radarr
RADARR_PORT=7878
RADARR_API_KEY=4b8b67641c6e43f89c91bdc365f4fd37

# Radarr 4K
RADARR_4K_PORT=7879
RADARR_4K_API_KEY=409b113833004fb5ad3064084fbc71e2

# Bazarr
BAZARR_PORT=6767

# Lidarr
LIDARR_PORT=8686
LIDARR_API_KEY=32cbbc23df1347f2bf608f728003151f

# NZBGet
NZBGET_PORT=6789

# Gluetun VPN
GLUETUN_VPN_PROVIDER=nordvpn
GLUETUN_VPN_TYPE=openvpn
GLUETUN_SERVER_REGIONS=Netherlands
GLUETUN_OPENVPN_USER=CkYJ8zmDN4TBTWvAZbLSbUwq
GLUETUN_OPENVPN_PASSWORD=njtyHyfxvAYwap7ZhRhiJoiv

# qBittorrent
QBITTORRENT_PORT=8080

# Unpackerr
UNPACKERR_PORT=5656

# Overseerr
OVERSEERR_PORT=5055

# Flaresolverr
FLARESOLVERR_PORT=8191

# Portainer
PORTAINER_PORT=9000
PORTAINER_EDGE_PORT=8000

# Cleanuparr
CLEANUPARR_PORT=11011

# Huntarr
HUNTARR_PORT=7874

# Paths
MEDIA_PATH=/mnt/media
DOWNLOADS_PATH=/mnt/media/downloads
QBIT_CONFIG_PATH=/root/qbit/config
QBIT_DOWNLOADS_PATH=/root/qbit/downloads
CONFIG_PATH=/opt/docker/configs
UMASK=002
